# This is Git's per-user configuration file.
[credential]
	helper = osxkeychain
[alias]
  ch = checkout
  s = status
  br = branch
  co = commit
  fo = fetch origin
  fom = fetch origin master
  di = diff
  po = push origin
  pom = push origin master
	chm = checkout master
  a = add
[help]
	autocorrect = 1